###############################################################################
#                             ↓ REQUIRED ALWAYS↓                              #
###############################################################################

# RPC URL for the L1 network to sync from.  
# Make sure these are Sepolia RPCs for the testnet.
L1_RPC_URL=
L1_BEACON_RPC_URL=

###############################################################################
#                       ↓ ONLY FOR RUNNING EXIT NODE ↓                        #
###############################################################################

# used in... 
# op-batcher, 
# op-node sequencer, 
# op-succinct-validity (Address that submits the aggregation proof for validation on L1)
PRIVATE_KEY=

### Used in Magister (Vast.ai wrapper)
# Make a vast.ai account, load it with some funds, and get an api key.
# This is to allow for easy allocation and deallocation of worker nodes for the
# Hierophant prover network.  Each vast.ai instance only cost 0.3 - 0.6 $/hour and 
# proofs take 1-2 hours so $20 should be plenty on this account
VAST_API_KEY=

### Used in Magister (Vast.ai wrapper)
# Publically rechable ip of the machine this docker setup is running on.
# Used by remotely hosted vast.ai Contemplants to communicate to the Hierophant at this ip.  
# Also used by Magister to make Hierophant aware of it
THIS_IP=
