###############################################################################
#                             ↓ REQUIRED ALWAYS↓                              #
###############################################################################

# RPC URL for the L1 network to sync from.  
# Make sure these are Sepolia RPCs for the testnet.
L1_RPC_URL=
L1_BEACON_RPC_URL=

###############################################################################
#                       ↓ ONLY FOR RUNNING EXIT NODE ↓                        #
###############################################################################

# used in... 
# op-batcher, 
# op-node sequencer, 
# op-succinct-validity (Address that submits the aggregation proof for validation on L1)
PRIVATE_KEY=

### Used in Magister (Vast.ai wrapper)
# Make a vast.ai account, load it with some funds, and get an api key.
# This is to allow for easy allocation and deallocation of worker nodes for the
# Hierophant prover network.  Each vast.ai instance only cost 0.3 - 0.6 $/hour and 
# proofs take 1-2 hours so $20 should be plenty on this account
VAST_API_KEY=

### Used in Magister (Vast.ai wrapper)
# Publically rechable ip of the machine this docker setup is running on.
# Used by remotely hosted vast.ai Contemplants to communicate to the Hierophant at this ip.  
# Also used by Magister to make Hierophant aware of it
THIS_IP=











###############################################################################
#                               ↓ DEFAULTS ↓                                  #
###############################################################################
# Only modify this section if you know what you're doing

### various ports
PORT__OP_NODE_P2P=9222
PORT__OP_NODE_HTTP=9545
PORT__OP_GETH_HTTP=8545
PORT__OP_GETH_WS=8546
PORT__OP_GETH_P2P=30303
PORT__OP_SUCCINCT_VALIDITY_HTTP=3001
PORT__HIEROPHANT_GRPC=9000
PORT__HIEROPHANT_HTTP=9010
PORT__MAGISTER_HTTP=8555

### op-succinct-validity and magister
# number of provers (Contemplant instances) running concurrently.  1 is enough in most case.
# This will impact your Vast.ai bill.  
NUMBER_PROVERS=1

### op-succinct-validity
# How many blocks per span proof
RANGE_PROOF_INTERVAL=50
# How many blocks per agg proof
SUBMISSION_INTERVAL=50
# network, cpu, or CUDA (local).  Currently only network is supported (TODO: support local CUDA)
SP1_PROVER=network
OP_SUCCINCT_VALIDITY_DATABASE_URL=postgres://op-succinct@postgres:5432/op-succinct

# default rust logging variables used for our rust programs (op-succinct-validity, magister, hierophant)
RUST_LOG_STYLE=always
RUST_LOG=info
RUST_BACKTRACE=1

# The kind of RPC provider, used to inform optimal transactions receipts
# fetching. Valid options: reth, alchemy, quicknode, infura, parity, nethermind,
# debug_geth, erigon, basic, any.  Defaults to `standard`
L1_RPC_KIND=standard

# used by just op-geth in rpc node
# Type of node to run ("full" or "archive"), note that "archive" is bigger
NODE_TYPE=full
